
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "input/macro.njk" import govukInput %}
      {% from "fieldset/macro.njk" import govukFieldset %}
      {% from "radios/macro.njk" import govukRadios %}

      <form action="/ethnic-group" method="post">

        {{ govukRadios({
          idPrefix: "ethnic-group",
          name: "ethnic-group",
          fieldset: {
            legend: {
              text: "What is your ethnic group?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            html: "<span style=\"display: block;\" class=\"govuk-body govuk-!-margin-bottom-6\">Government services ask about ethnicity because they have a legal requirement to treat everyone fairly.</span>"
          },
          items: [
            {
              value: "white",
              text: "White",
              label: {
                classes: 'govuk-label--s'
              },
              hint: {
                text: 'Includes any White background'
              }
            },
            {
              value: "mixed",
              text: "Mixed or multiple ethnic groups",
              label: {
                classes: 'govuk-label--s'
              },
              hint: {
                text: 'Includes White and Black Caribbean, White and Black African, White and Asian or any other Mixed background'
              }
            },
            {
              value: "asian",
              text: "Asian or Asian British",
              label: {
                classes: 'govuk-label--s'
              },
              hint: {
                text: 'Includes Indian, Pakistani, Bangladeshi, Chinese or any other Asian background'
              }
            },
            {
              value: "black",
              text: "Black or Black British",
              label: {
                classes: 'govuk-label--s'
              },
              hint: {
                text: 'Includes African, Caribbean or any other Black background'
              }
            },
            {
              value: "other",
              text: "Another ethnic group",
              label: {
                classes: 'govuk-label--s'
              },
              hint: {
                text: 'For example Arab or any other background'
              }
            },
            {
              divider: "or"
            },
            {
              value: "prefer-not-to-say",
              text: "Prefer not to say",
              label: {
                classes: 'govuk-label'
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>

    </div>
</div>

{% endblock %}
